<div class="widget">
    <div class="title"><h4>Блог</h4></div>
    <%= link_to t('subscribe', scope: 'refinery.blog.shared.rss_feed'), refinery.blog_rss_feed_path, :id => "rss_feed_subscribe"%>

    
    <% if @sidebar_posts.many? %>
      <h5><%= t('other', scope: 'refinery.blog.shared.posts') %></h5>
      <ul id="recent_posts_widget">
        <% @sidebar_posts.each do |blog_post| %>
          <li>
            <%= link_to blog_post.title, refinery.blog_post_path(blog_post) %>
            <%# image_fu(blog_post.images.first, '80x80') if blog_post.images %>

            <%# link_to blog_post.title, refinery.blog_post_path(blog_post) %>
              <!-- <p class = "readmore"><%# l(blog_post.published_at.to_date, format: :long) %></p> -->
          </li>
        <% end %>
      </ul>
    <% end %>
        <li>
            <a href="#">
            <img src="/assets/dyxfoto/201.gif" alt="" />Семинар на Алтае 
            </a>
            <a class="readmore" href="#">14 апреля 2014</a>
        </li>
        <li>
            <a href="#">
            <img src="/assets/dyxfoto/202.gif" alt="" />Заочное обучение в Москве 
            </a>
            <a class="readmore" href="#">10 мая 2014</a>
        </li>
        <li>
            <a href="#">
            <img src="/assets/dyxfoto/404.gif" alt="">Прошел семинар на общую тему 
            </a>
            <a class="readmore" href="#">22 мая 2014</a>
        </li>
    </ul><!-- recent posts -->

    <% if Refinery::Blog::Category::ActsAsTaggableOn::Tag.any? %>
      <h5><%= t('title', scope: 'refinery.blog.shared.tags') %></h5>
      <nav id='tags'>
        <% tag_cloud(Refinery::Blog::Post.tag_counts, %w(tag1 tag2 tag3 tag4)) do |tag, css_class| %>
          <%= link_to tag.name, refinery.blog_tagged_posts_path(tag.id, tag.name.parameterize), :class => css_class %>
        <% end %>
      </nav>
    <% end %>                              
</div><!-- end widget -->