<div class="title">
    <h5>Календарь</h5>
</div>
<div class="widget sidebarcal" >
  <div class="title">
    <h6>
    <%= t(@date.strftime("%B"), scope: 'refinery.calendar.events.calendar') %>
    <%= @date.strftime("%Y") %>
    </h6>
  </div>
  <%= calendar @date do |date| %>
    <% if Refinery::Calendar::Event.by_day(date).any? %>
      <%= link_to date.day, refinery.daygroup_path(:daydate => date) %>
    <%  else %>
      <%= date.day %>
    <% end %>
  <% end %>

  <div class="title">
    <h6>
    <%= t(@date.next_month.strftime("%B"), scope: 'refinery.calendar.events.calendar')%>
    <%= @date.strftime("%Y") %>
    </h6>
  </div>
  <%= calendarnextmonth do |datenext| %>
    <% if Refinery::Calendar::Event.by_day(datenext).any? %>
      <%= link_to datenext.day, refinery.daygroup_path(:daydate => datenext) %>
    <%  else %>
      <%= datenext.day %>
    <% end %>
  <% end %>
</div>
