<div id="profile" class="member">
  <table id="member" class="table">
    <tbody>
      <tr>
        <td><%= t('refinery.members.shared.username') %></td> <td><%= @member.username %></td>
      </tr>
      <tr>
        <td><%= t('refinery.members.shared.email') %></td> <td><%= @member.email %></td>
      </tr>
      <tr>
        <td><%= t('refinery.members.shared.first_name') %></td> <td><%= @member.first_name %></td>
      </tr>
      <tr>
        <td><%= t('refinery.members.shared.last_name') %></td> <td> <%= @member.last_name %></td>
      </tr>
      <%  
        if @member.membership_level == Refinery::User
          status = "Администратор"
        else
          status =  "Пользователь"
        end 
      %>
      <tr>
        <td>Статус</td> <td> <%= status %></td>
      </tr>
      <%  
        if @member.member_until 
          term = @member.member_until %>
          <tr>
            <td><%= t('refinery.admin.members.member_until') %></td> <td> <%= l(term.to_date, format: :long) %></td>
          </tr>
       <% else %>
          <tr>
            <td><%= t('refinery.admin.members.member_until') %></td> <td>Всегда</td>
          </tr>
        <% end %>
      
      
    </tbody>
  </table>
</div>