<% if post.live? %>
  <article class="blog_post" id="<%= dom_id(post) %>">
    <h2><%= link_to post.title, refinery.blog_post_path(post) %></h2>

    <div class="post_meta">
      <span><i class="fa fa-calendar"></i>&nbsp;
        <time datetime="<%=l post.published_at.to_date, :format => :default %>" class='posted_at'>
        <%= l(post.published_at.to_date, :format => :long) %>
        </time>
      </span>
     &nbsp;

      <span><i class="fa fa-user"></i>&nbsp;
      <%= content_tag(:span, "Автор: #{post.author.username}") if post.author.present? %>
      </span>
      &nbsp;

      <% if Refinery::Blog::Post.comments_allowed? %>
        <span><i class="fa fa-comment"></i>&nbsp;
          Комментарии:&nbsp;
          <% if post.comments.any? %>
            <%= post.comments.approved.count %>&nbsp;
          <% else %>
            нет&nbsp;
          <% end %>
        </span>
      <% end %>

      <% if (categories = post.categories).any? %>
      &nbsp;
        <span><i class="fa fa-tag"></i>&nbsp;
          Категория:&nbsp;
          <% categories.each_with_index do |category, index| %>
            <%= link_to category.title, refinery.blog_category_path(category) -%><%= ',' if index < ((categories.length) - 1) %>
          <% end %>
         </span>
      <% end %>

  

      <% if (tags = post.tags).any? %>
      &nbsp;
        <span><i class="fa fa-tag"></i>&nbsp;
          Теги:&nbsp;
          <%=raw tags.collect { |tag| link_to tag, refinery.blog_tagged_posts_path(tag.id, tag.name.parameterize) }.to_sentence %>
        </span>
      <% end %>

    </div>



    <% if post.images[0] %>
      <div>
      <%= image_tag(post.images[0].url, :alt => post.title) %>
      </div>
    <% end %>



    <section class='clearfix'>
      <% if blog_post_teaser_enabled? %>
        <%= blog_post_teaser(post) %>
      <% else %>
        <%= post.body.html_safe %>
      <% end %>
    </section>
    <section>
      <p>
        <%= link_to t('read_more', :scope => 'refinery.blog.shared.posts'), refinery.blog_post_path(post) if blog_post_teaser_enabled? %>
      </p>
    </section>
  </article>
<% end %>
