<% if @sidebar_posts.many? %>
  <h5><%= t('other', scope: 'refinery.blog.shared.posts') %></h5>
  <ul id="recent_posts_widget">
    <% @sidebar_posts.each do |blog_post| %>
      <li>
        <%= link_to refinery.blog_post_path(blog_post) do %>
          <div class="valign">
            <div class="recent_post_img">
              <%= image_fu(blog_post.images.first, '50x50#c') if blog_post.images %>
            </div>
              <p><%= blog_post.title %></p>
              <p class = "readmore"><%= l(blog_post.published_at.to_date, format: :long) %></p>
           </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>