<%# content_for :body do %>
  <section class="clearfix">
           <h1>Обратная связь</h1>
          <br/>
          <p>Вы можете отправить нам сообщение, используя форму.<br/>Мы с Вами обязательно свяжемся в ближайшее время.</p>
  
          <div class='inquiries' id="contact1">
            <%= form_for [refinery, :inquiries, @inquiry] do |f| %>
              <%= render :partial => "/refinery/admin/error_messages",
                         :locals => {
                           :object => @inquiry,
                           :include_object_name => true
                         } %>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <%= f.text_field :name, :class => "form-control", :required => 'required', :placeholder => t('name', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <%= f.email_field :email, :class => "form-control", :required => 'required', :placeholder => t('email', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <%= f.text_field :phone, :class => "form-control", :placeholder => t('phone', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <%= f.text_area :message, :rows => 6, :class => "form-control", :required => 'required', :placeholder => t('message', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
              </div>
              <div class="text-center">
                <%= f.submit t('.send'), id: "submit1", class: "btn btn-lg btn-primary" %>
              </div>
                <div class="clearfix"></div>
                <div class="title text-center">
                <br/>
                <%= link_to t('.privacy_policy'), "/privacy-policy", :id => "privacy_link" if Refinery::Inquiries.show_contact_privacy_link %>
                </div>
            <% end %>
          </div>

        <!-- </div>
      </div>
    </div> -->
  </section>

<%# end %>
<%#= render :partial => "/refinery/content_page" %>


        

