<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body id="home-boxes" data-spy="scroll" data-offset="75">
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div class="wrapper container">
      <header class="header clearfix">
        <%= render 'refinery/header' -%>
      </header>
      <%= render 'layouts/poster' -%>
        
      <section class="postwrapper clearfix">
          <div class="container">
            <div class="row"> 
              <% if home_page? %>
                <%= render '/homepage/homepage' -%>
              <% else %>
                <%= render 'layouts/main' -%>
              <% end %>
                <%= render 'sidebar/sidebar' -%>
            </div>
          </div>
      </section>

      <footer>
        <%= render '/refinery/footer' -%>
      </footer>
    </div>
    <div class="dmtop">
      Наверх   
    </div>    
    <%= render '/refinery/javascripts' %>
    <% content_for :javascripts do %>
      <%= javascript_include_tag 'application.js' %>
    <% end %>
 

     

  <script>
    (function($) {
    "use strict"

      $('.dropdown-toggle').dropdownHover().dropdown();
        $(document).on('click', '.fhmm .dropdown-menu', function(e) {
          e.stopPropagation()
      })

      jQuery('.header').affix({
        offset: { top: $('.header').offset().top }
      });

    // // Tooltips 
    //   $('.social, .media_element, .bs-example-tooltips').tooltip({
    //     selector: "[data-toggle=tooltip]",
    //     container: "body"
    //   })

    //pretty photo
    jQuery(document).ready(function(){
            jQuery("a[rel^='prettyPhoto']").prettyPhoto({animationSpeed:'slow',theme:'dark_square',opacity: 0.9,slideshow:false,overlay_gallery: false,social_tools: false,deeplinking:false});
    });  

    // Search
      // var $ctsearch = $( '#dmsearch' ),
      //   $ctsearchinput = $ctsearch.find('input.dmsearch-input'),
      //   $body = $('html,body'),
      //   openSearch = function() {
      //     $ctsearch.data('open',true).addClass('dmsearch-open');
      //     $ctsearchinput.focus();
      //     return false;
      //   },
      //   closeSearch = function() {
      //     $ctsearch.data('open',false).removeClass('dmsearch-open');
      //   };

      // $ctsearchinput.on('click',function(e) { e.stopPropagation(); $ctsearch.data('open',true); });

      // $ctsearch.on('click',function(e) {
      //   e.stopPropagation();
      //   if( !$ctsearch.data('open') ) {

      //     openSearch();

      //     $body.off( 'click' ).on( 'click', function(e) {
      //       closeSearch();
      //     } );

      //   }
      //   else {
      //     if( $ctsearchinput.val() === '' ) {
      //       closeSearch();
      //       return false;
      //     }
      //   }
      // });

      // // Flexslider
      // $(window).load(function() {
      //     $('.flexslider').flexslider({
             
      //         controlNav: true,
      //         directionNav: true,  
      //         animationLoop: false,
      //         slideshow: false,
      //         sync: "#carousel"
      //     });
      // });
    

    // Back to Top
      jQuery(window).scroll(function(){
        if (jQuery(this).scrollTop() > 1) {
            jQuery('.dmtop').css({bottom:"25px"});
          } else {
            jQuery('.dmtop').css({bottom:"-100px"});
          }
        });
        jQuery('.dmtop').click(function(){
          jQuery('html, body').animate({scrollTop: '0px'}, 800);
          return false;
      });  

    })(jQuery);
  </script>
    
    <%= render '/refinery/google_analytics' %>
  </body>
</html>
