<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body id="home-boxes" data-spy="scroll" data-offset="75">
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div class="wrapper container">
      <header class="header clearfix">
        <%= render 'refinery/header' -%>
      </header>
      <%= render 'layouts/poster' -%>
        
      <section class="postwrapper clearfix">
          <div class="container">
            <div class="row"> 
              <% if home_page? %>
                <%= render '/homepage/homepage' -%>
              <% else %>
                <%= render 'layouts/main' -%>
              <% end %>
                <%= render 'sidebar/sidebar' -%>
            </div>
          </div>
      </section>

      <footer>
        <%= render '/refinery/footer' -%>
      </footer>
    </div>
    <div class="dmtop">
      Наверх   
    </div>    
    <%= render '/refinery/javascripts' %>
    <% content_for :javascripts do %>
      <%= javascript_include_tag 'application.js' %>
    <% end %>
 
    <script>
     (function($) {
        "use strict"

          $('.dropdown-toggle').dropdownHover().dropdown();
            $(document).on('click', '.fhmm .dropdown-menu', function(e) {
              e.stopPropagation()
          })

          jQuery('.header').affix({
            offset: { top: $('.header').offset().top }
          });

          jQuery(window).scroll(function(){
            if (jQuery(this).scrollTop() > 1) {
                jQuery('.dmtop').css({bottom:"25px"});
              } else {
                jQuery('.dmtop').css({bottom:"-100px"});
              }
            });
            jQuery('.dmtop').click(function(){
              jQuery('html, body').animate({scrollTop: '0px'}, 800);
              return false;
          });  

        })(jQuery);

        $(function() {
          $('audio').removeAttr('controls');
        });


        audiojs.events.ready(function() {  
            var as = audiojs.createAll();
          });

        $(function() {
          $(".play-pause").width(25).height(40);
        });

    </script>
 
    <%= render '/refinery/google_analytics' %>
  </body>
</html>
